{% extends "main.html" %}
{% block family %}
    {% for drink in drinks %}
        <li class="listN">
            <!-- Left side -->
            <a class="xxy" href="http://localhost:5000/drinks/{{ drink.id }}">  
                <div class="lleft">
                    {{ drink.name }}
                </div>

            </a>
            <!-- Right side -->
            <a href="http://localhost:5000/drinks/{{ drink.id }}/delete">
                <div class="lleft">
                    <i class="fa fa-times"></i>
                </div>
            </a>
        </li>
    {% endfor %}
{% endblock %}
{% block subtype %}
    {% for subdrink in subdrinks %}
        <li class="listN">
            <!-- Left side -->
            <a class="xxy" href="{{subdrink.id}}">  
                <div class="lleft">
                    {{ subdrink.name }}
                </div>

            </a>
            <!-- Right side -->
            <a href="{{subdrink.id}}/delete">
                <div class="lleft">
                    <i class="fa fa-times"></i>
                </div>
            </a>
        </li>
    {% endfor %}
{% endblock %}

{% block context %}
    Drill Down or Add a New Sub Drink Type
{% endblock %}
{% block context_action %}
                    <div class="level-right">
                        <a class="level-item" href="/drinks/{{action}}/new">
                            <span class="icon fsd-head">
                            <i class="fa fa-plus"></i>
                            </span>
                        </a>
                    </div>
{% endblock %}