{% extends "main.html" %}
{% block family %}
    {% for drink in drinks %}
        <li class="listN">
            <!-- Left side -->
            <a class="xxy" href="http://localhost:5000/drinks/{{ drink.id }}">  
                <div class="lleft">
                    {{ drink.name }}
                </div>

            </a>
            <!-- Right side -->
            <a href="#">
                <div class="lleft">
                    <i class="fa fa-times"></i>
                </div>
            </a>
        </li>
    {% endfor %}
{% endblock %}
{% block subtype %}


    <nav class="level notification">
        <!-- Left side -->
        <div class="level-left">
            <p class="title">{{ drink_detail.name }}</p>
        </div>

        <!-- Right side -->
        <div class="level-right">
            <a class="level-item" href="/drinks/new">
                <span class="icon fsd-head">
                <i class="fa fa-times"></i>
                </span>
            </a>
        </div>
    </nav>

    <a class="content" >

        <hr>
        <p>{{ drink_detail.description }}</p>
    </a>
{% endblock %}
{% block context %}
    Drink Details
{% endblock %}
