{% extends "main.html" %}
{% block family %}
    {% for drink in drinks %}
    <a class="panel-block" href="http://localhost:5000/drinks/{{ drink.id }}">
   
        <span class="control has-icons-right">
        <span class="icon is-right">
            <i class="fa fa-times"></i>
        </span>
            {{ drink.name }}
        </span>    

    </a>
    {% endfor %}
{% endblock %}
{% block subtype %}
    {% for subdrink in subdrinks %}
    <a class="panel-block" href="{{subdrink.id}}">

        <span class="control has-icons-right">
      <span class="icon is-right">
        <i class="fa fa-times"></i>
      </span>
        {{ subdrink.name }}
    </span>    

    </a>
    {% endfor %}
{% endblock %}

{% block context %}
    Drill Down or Add a New Sub Drink Type
{% endblock %}
{% block context_action %}
                    <div class="level-right">
                        <a class="level-item" href="/drinks/{{action}}/new">
                            <span class="icon fsd-head">
                            <i class="fa fa-plus"></i>
                            </span>
                        </a>
                    </div>
{% endblock %}