{% extends "main.html" %}
{% block family %}
    {% for drink in drinks %}
        <li class="listN">
            <!-- Left side -->
            <a class="xxy" href="{{ url_for('showDrinkSubType', drink_familyURL_id=drink.id) }}">  
                <div class="lleft">
                    {{ drink.name }}
                </div>
            </a>
            <!-- Right side -->
            <a href="#">
                <div class="lleft">
                    <a href="{{ url_for('deleteDrink', drink_familyURL_id=drink.id) }}">
                    <i class="fa fa-times"></i>
                    </a>
                </div>
            </a>
            <a href="#">
                <div class="lleft">
                    <a href="{{ url_for('editDrink', drink_familyURL_id=drink.id) }}">
                    <i class="fa fa-edit"></i>
                    </a>
                </div>
            </a>
        </li>
    {% endfor %}
{% endblock %}
{% block subtype %}
    {% for drink in drinklist %}
        <li class="listN">
            <!-- Left side -->
            <a class="xxy" href="{{drink.id}}">  
                <div class="lleft">
                    {{ drink.name }}
                </div>

            </a>
            <!-- Right side -->
            <a href="{{drink.id}}/delete">
                <div class="lleft">
                    <i class="fa fa-times"></i>
                </div>
            </a>
            <a href="{{drink.id}}/edit">
                <div class="lleft">
                    <i class="fa fa-edit"></i>
                </div>
            </a>
        </li>
    {% endfor %}
{% endblock %}

{% block context %}
    Click for more details or Add a New Drink
{% endblock %}
{% block context_action %}
                    <div class="level-right">
                        <a class="level-item" href="/drinks/{{action_family}}/{{action_sub}}/new">
                            <span class="icon fsd-head">
                            <i class="fa fa-plus"></i>
                            </span>
                        </a>
                    </div>
{% endblock %}