{% extends "main.html" %}
{% block family %}

    {% for drink in drinks %}
        <li class="listN">
            <!-- Left side -->
            <a class="xxy" href="http://localhost:5000/drinks/{{ drink.id }}">  
                <div class="lleft">
                    {{ drink.name }}
                </div>

            </a>
            <!-- Right side -->
            <a href="#">
                <div class="lleft">
                    <a href="http://localhost:5000/drinks/{{ drink.id }}/delete">
                    <i class="fa fa-times"></i>
                    </a>
                </div>
            </a>
            <a href="#">
                <div class="lleft">
                    <a href="http://localhost:5000/drinks/{{ drink.id }}/edit">
                    <i class="fa fa-edit"></i>
                    </a>
                </div>
            </a>
        </li>
    {% endfor %}
{% endblock %}
{% block context %}
    Choose a Drink Family
{% endblock %}
{% block context_action %}
{% endblock %}