{% extends "main.html" %}
{% block family %}
    {% for drink in drinks %}
    <a class="panel-block" href="http://localhost:5000/drinks/{{ drink.id }}">

        <span class="control has-icons-right">
        <span class="icon is-right">
            <i class="fa fa-times"></i>
        </span>
            {{ drink.name }}
        </span>    
    </a>
    {% endfor %}
{% endblock %}
{% block subtype %}
    {% for drink in drinklist %}
    <a class="panel-block" href="{{ drink.id }}" >
        <span class="control has-icons-right">
        <span class="icon is-right">
            <i class="fa fa-times"></i>
        </span>
            {{ drink.name }}
        </span>    
    </a>
    {% endfor %}
{% endblock %}

{% block context %}
    Click for more details or Add a New Drink
{% endblock %}
{% block context_action %}
                    <div class="level-right">
                        <p class="level-item">
                            <span class="icon fsd-head">
                            <i class="fa fa-plus"></i>
                            </span>
                        </p>
                    </div>
{% endblock %}