<nav class="navbar ">

  <div class="navbar-brand">

    <a class="navbar-item" href="https://www.nagibtharani.com">
        UDACITY NANODEGREE P4
    </a>
  </div>

  <div class="navbar-menu">

    <div class="navbar-start">
    </div>

    <div class="navbar-end">

      <div class="navbar-item">

        <div class="field is-grouped">

          <p class="control">
            <a class="button is-primary" href="https://github.com/jgthms/bulma/archive/0.5.0.zip">
              <span>Login</span>
            </a>
          </p>
        </div>
      </div>
    </div><!-- Navbar End -->
  </div><!-- navbar-menu End -->
</nav>