<nav class="navbar ">

  <div class="navbar-brand">

    <a class="navbar-item" href="https://www.nagibtharani.com">
        UDACITY NANODEGREE P4
    </a>
          <div class="navbar-burger burger" data-target="navMenuExample">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>

  <div class="navbar-menu">

    <div class="navbar-start">
    </div>

    <div class="navbar-end">

      <div class="navbar-item">

        <div class="field is-grouped">

          <p class="control">
            {%if 'username' not in session %}
			      <a class="button is-outlined is-primary" href="{{url_for('showLogin')}}"><span>Click Here to Login</span></a>
			      {% else %}
			      <a class="button is-outlined is-info" href="{{url_for('gdisconnect')}}"><span>Logout</span></a>
			      {% endif %}
          </p>
        </div>
      </div>
    </div><!-- Navbar End -->
  </div><!-- navbar-menu End -->
</nav>